@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
/* header */
*{
  padding: 0%;
  margin: 0; 
  box-sizing: border-box;
  color: #000000;
}

li,a{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 5%;
  background-color: rgb(13, 25, 55);
} 

#logo{
  cursor: pointer;
  }

.menu{ 
  list-style: none;
}
.menu li{
  display: inline-block;
  padding: 0px 10px;
}

.menu li a {
  transition: all 0.3s ease 0s;
}

.menu li a:hover  {
  color: rgb(0, 255, 255)
  
}
/* end header */

 /* body */
 form{
    max-width: 1000px;
    margin: 1% auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-size: 30px;
    display: block;}
 
    input[type="checkbox"]{
        display: inline-block;
    }
 

select{
    inline-size: 60%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;;
    margin-top: 1.2%;
    margin-left: 1.6cm;
    margin-bottom: 20px;
    font-size: 1.5ex;
}
body{
    background-color: rgb(31, 85, 91);
    
}
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
  .col{
    width: 50%;
     text-transform: capitalize;
     padding: 0 15px;
    display: inline;}
  
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    font-size: 5px;
  }
    
  

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  textarea {
    height: 100px;
  }
button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
#dataTable{
  align-content: center;
   display: none; 
  }

table th{
   font-size: larger;
   background-color: #ffffff;
}

table td{
  font-size: larger;
  background-color: #ffffff;
}

   .ul {
    column-count: 2;
    column-gap: 20rem;
    list-style: none;
  }
  
  /* ADDITIONAL STYLING */
  
  /* The container */
  .container {
    display: block;
    font-family: Montserrat;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #1b00c9;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  



  button[type="submit"]:hover {
    background-color: #0069d9;}



/* end body */

/* footer */
footer{
  background-color: #24262b;
  padding: 70px 0;
  font-family: "Montserrat", sans-serif;
}
.container{
  max-width: 1170px;
   margin: auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
ul{
  list-style: none;
}
.col{
  width: 50%;
   text-transform: capitalize;
   padding: 0 15px;
}
.col h3{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative; 
}
.col h3::before{
content:"";
position: absolute;
Left:0;
bottom: -5px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 70px;
}
.col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 7px;
}
.col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;

}

.col h4{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
/* end footer */