@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
/* header */
*{
  padding: 0%;
  margin: 0; 
  box-sizing: border-box;
  color: #000000;
}

li,a{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 5%;
  background-color: rgb(13, 25, 55);
} 

#logo{
  cursor: pointer;
  }

.menu{ 
  list-style: none;
}
.menu li{
  display: inline-block;
  padding: 0px 10px;
}

.menu li a {
  transition: all 0.3s ease 0s;
}

.menu li a:hover  {
  color: rgb(0, 255, 255)
  
}
/* end header */

body{
    background-color: rgb(31, 85, 91);;
}

/* footer */
footer{
  background-color: #24262b;
  padding: 70px 0;
  font-family: "Montserrat", sans-serif;
}
.container{
  max-width: 1170px;
   margin: auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
ul{
  list-style: none;
}
.col{
  width: 50%;
   text-transform: capitalize;
   padding: 0 15px;
}
.col h3{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative; 
}
.col h3::before{
content:"";
position: absolute;
Left:0;
bottom: -5px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 70px;
}
.col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 7px;
}
.col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;

}

.col h4{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
/* end footer */